Source: sail
Section: network
Priority: extra
Maintainer: CoCo <admin@aelintra.com>

Package: sail
Architecture: all
Depends: ${misc:Depends}, sailhpe (>= 6.5.0), ngrep, sqlite3, lsb-release, asterisk, asterisk-mp3, asterisk-mysql, apache2, php, php-mbstring, php-gd, php-sqlite3, php-curl, php-mysql, php-pear, php-ldap, libio-socket-multicast-perl,libapache2-mod-php,libdbi-perl,libdbd-sqlite3-perl,sox,nmap,zip,libfile-readbackwards-perl,shorewall,shorewall6,fail2ban,sudo,dos2unix,dnsmasq,tshark,vim,less, hostname,ipcalc,slapd,ldap-utils,tcpdump,rsync,shellinabox,dnsutils,sysstat,curl,dmidecode,runit,ifupdown
Description: SARK  Asterisk Integration Layer (SAIL) - A fast, lightweight switch for Asterisk
 SARK  Asterisk Integration Layer (SAIL).  Admin and backend code to configure and build Asterisk dialplans on the fly.
