Source: sipblocks
Section: network
Priority: extra
Maintainer: KoKo <admin@kokokraft.com>

Package: sipblocks
Architecture: all
Depends: ${misc:Depends}, ngrep, sqlite3, lsb-release, asterisk, asterisk-mp3, asterisk-mysql, apache2, php, php-mbstring, php-gd, php-sqlite3, php-curl, php-mysql, php-pear, php-ldap, libio-socket-multicast-perl,libapache2-mod-php,libdbi-perl,libdbd-sqlite3-perl,sox,nmap,zip,libfile-readbackwards-perl,shorewall,shorewall6,fail2ban,sudo,dos2unix,dnsmasq,tshark,vim,less, hostname,ipcalc,slapd,ldap-utils,tcpdump,rsync,dnsutils,sysstat,curl,dmidecode,runit,ifupdown,uuid-runtime
Description: sipblocks - A headless, lightweight switch for Asterisk
